/* ./styles/globals.css */
@import url("./tailwind-base.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat&display=swap");

body {
  font-family: "Manrope", sans-serif;
  color: #333;
}

:root {
  --swiper-theme-color: #333 !important; /* Override the Swiper button colors */
}

.feat-category-divider-line {
  width: calc(100% - 50px);
  margin: 75px auto; /* Center-align the divider */
  background: linear-gradient(to right, transparent, #ccc, transparent);
  height: 1px;
  grid-area: category-nav;
}

.registration-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.product-image-view {
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer; /* Pointer cursor when hovering */
  margin-bottom: 8px; /* Spacing between images */
  display: flex; /* Flexbox so we can center them */
  justify-content: center;
  align-items: center;
}

.item-view-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr); /* Define 4 rows with equal height */
  gap: 2px;
  margin: 10px;
  padding: 50px;
}

.brand-filter-container {
  background: #fff;
  grid-area: info;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 30px;
  gap: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.brand-filter-container.sticky {
  position: sticky;
  top: 65px;
  left: 15px;
  right: 15px;
  margin: 0;
  z-index: 200;
}

.brand-filter-container.sticky::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #b3b3b3 50%,
    transparent 100%
  );
}

.promo-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto; /* Horizontally center the container */
  grid-area: promo;
}

.promo-image {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  max-height: 100%; /* Ensure the image does not exceed the container height */
  width: auto;
  height: auto;
}

.additional-images-container {
  grid-area: thumbnails;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.additional-image-thumbnail {
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer; /* Pointer cursor when hovering */
}

.additional-image-hovered {
  border: 1px solid #4fbbff;
}

.quantity-picker-text {
  margin-top: 1.5rem;
  color: #000;
}

.add-cart-btn-cat {
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #004066;
  transition: background-color 0.2s;
  height: 32px;
  padding: 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;
}

.add-cart-btn-cat:hover {
  background-color: #002134;
}

.trending-title {
  font-size: 34px;
  font-weight: 600;
}

.trending-title-text-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: trending-now;
}

.trending-product-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
  flex-direction: row;
  justify-content: space-between;
  grid-area: trending-now;
  margin-top: 75px;
}

@media (max-width: 768px) {
  .trending-product-wrapper {
    display: none; /* Hiding the trending products until I figure out where I want it on mobile.. */
  }
}

.dropdown-button {
  cursor: pointer;
  color: #fff;
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .dropdown-button {
    height: 6vw;
    width: 6vw;
  }
}

.user-item {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.user-item:hover {
  text-decoration: underline;
}

.cart-icon {
  color: #fff;
  font-size: 1.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cart-icon {
    font-size: 1.4em;
  }
}

.user-info-icon {
  margin-right: 10px;
}

.breadcrumb-part {
  display: inline-flex; /* Ensure each part is on the same line */
  align-items: center;
}

.breadcrumb-part a {
  text-decoration: underline; /* Add underline to all links */
}

.breadcrumb-part a:hover {
  text-decoration: none;
}

.item-price {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.item-image-shrink {
  max-height: 175px;
  padding: 6px;
}

.sitemap {
  display: flex;
  justify-content: space-between;
  max-width: calc(1600px + 10%);
  padding: 0 5%;
}

.sitemap-section-shop {
  grid-area: col1;
}

.sitemap-section-about {
  grid-area: col2;
}

.sitemap-section-support {
  grid-area: col3;
}

.sitemap-text-header {
  color: #616161;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.sitemap-text-item {
  color: #616161;
  cursor: pointer;
  font-size: 12px;
  line-height: 28px;
}

.copyright-text {
  color: #616161;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}

.account-page-container {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.account-register-panel-container {
  max-width: 36rem;
  width: 100%;
}

.user-dropdown-signup-btn {
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in 0s;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;
  border-radius: 20px;
  padding: 8px 20px;
  color: #fff;
  background-color: #004066;
  border: medium;
  text-align: center;
  display: flex;
  width: 100%;
  transition: background-color 0.2s;
}

.user-dropdown-signup-btn:hover {
  background-color: #002134; /* Change the background color on hover */
}

.user-dropdown-signup-btn:active {
  background-color: #002134; /* Keep the background color when focused or active */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -100;
  opacity: 0;
  transition: opacity 3s ease;
}

.backdrop.active {
  opacity: 1;
}

.filter-divider {
  margin-top: 24px;
  margin-bottom: 24px;
  border-style: solid;
  border-top: 1px;
  border-width: 1px;
  border-color: #d1d5db;
}

.cart-item-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 12px 4px,
    rgba(0, 0, 0, 0.04) 0px 4px 10px 2px, rgba(0, 0, 0, 0.06) 0px 2px 8px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px;
  grid-area: cart-items;
  padding: 15px 0;
  margin: 15px 0;
}

.add-cart-btn-cat-wrapper {
  display: flex;
  justify-content: center;
}

.arrow-icon {
  font-size: 18px;
  color: #ededed;
  opacity: 0; /* Hide the arrow icon */
  transform: rotate(0deg); /* Initial rotation state + allows it to flip back*/
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.arrow-icon-visible {
  font-size: 18px;
  color: #ededed;
  transition: transform 0.3s ease;
}

.left-arrow-icon {
  font-size: 30px;
  color: #333;
}

.cart-page-total-container {
  grid-area: order-summary;
}

.cart-checkout-text {
  font-size: 15px;
}

.input-stepper {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  color: #000000;
  height: 32px;
  padding: 0px 8px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.input-stepper:hover {
  background-color: #f1f1f1;
  border-color: #a1a1a1;
}

.saved-items-container {
  display: grid;
  grid-area: saved-items;
}

.cart-image-container {
  width: 8rem;
  padding: 10px;
}

.saved-items-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 12px 4px,
    rgba(0, 0, 0, 0.04) 0px 4px 10px 2px, rgba(0, 0, 0, 0.06) 0px 2px 8px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px;
  border-radius: 8px;
  justify-content: space-between;
}

.saved-items-none-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 12px 4px,
    rgba(0, 0, 0, 0.04) 0px 4px 10px 2px, rgba(0, 0, 0, 0.06) 0px 2px 8px,
    rgba(0, 0, 0, 0.04) 0px 2px 4px;
  border-radius: 8px;
  padding: 30px;
  margin-top: 15px;
}

.saved-items-clk {
  font-size: 72px;
  color: #004066;
}

.saved-items-none-header {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  padding: 10px 0 0 0;
}

.saved-items-none-text {
  font-size: 16px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  padding-top: 10px;
}

.save-later-btn {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  color: #000000;
  height: 32px;
  padding: 0px 8px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.save-later-btn:hover {
  background-color: #f1f1f1;
  border-color: #a1a1a1;
}

.cart-item-pricing-container {
  justify-content: flex-end;
  display: grid;
  flex-direction: column;
}

.cart-price-text-header {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.8;
}

.cart-remove-btn {
  cursor: pointer;
  margin-left: 50px;
  margin-right: 20px;
  color: rgb(51, 51, 51);
}

.cart-page-order-header {
  display: flex;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  padding: 10px 0;
  justify-content: center;
}

.cart-checkout-btn {
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #004066;
  transition: background-color 0.2s;
  padding: 10px 12px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;
}

.cart-checkout-btn:hover {
  background-color: #002134;
}

.cart-page-order-subtotal {
  font-size: 16px;
  line-height: 1.8;
}

.cart-page-subtotal-container {
  justify-content: space-between;
  display: flex;
}

.cart-zipcode-text {
  font-size: 12px;
}

.cart-item-price {
  font-size: 14px;
  font-weight: 500;
  color: #266aca;
}

.cart-item-price-each {
  font-size: 12px;
}

.cart-item-name {
  font-size: 16px;
  margin: 0;
}

.cart-item-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.cart-button-wrapper {
  margin-left: initial;
  display: flex;
}

.cart-remove-container {
  display: flex;
}

.cart-image-wrapper {
  padding: 15px;
}

.cart-item-name-wrapper {
  display: flex;
  width: 300px;
}

.deal-box {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  border-color: #a1a1a1;
  display: flex;
  flex-direction: column;
  background: rgb(238, 238, 238);
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px;
}

.deal-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.deal-box p {
  font-size: 14px;
  color: #555;
}

.rotate-arrow {
  transition: transform 0.3s;
  transform: rotate(180deg);
}

@keyframes toastZoom {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 1px;
}

.c-star {
  width: var(--size, 18px);
  height: var(--size, 18px);
  fill: #fed94b;

  &.active {
    fill: #fed94b;
  }
}

.c-star-h {
  width: var(--size, 18px);
  height: var(--size, 18px);

  &.active {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
  }
}

.average-rating-text {
  padding: 0 5px;
}

.go3958317564 {
  /* Override the hot toast notif text */
  justify-content: flex-start !important;
  margin: 5px 10px !important;
}
